[mysqld]
bind-address={{ percona_bind_address }}

pxc_encrypt_cluster_traffic=ON
max_connections = 300
wsrep_provider=/usr/lib64/galera3/libgalera_smm.so

wsrep_cluster_name=morpheusdb-cluster
#wsrep_cluster_address=gcomm://{{ hostvars['node1'].ansible_host }},{{ hostvars['node2'].ansible_host }},{{ hostvars['node3'].ansible_host }}
wsrep_cluster_address=gcomm://{% for db_host in groups['perc'] %}{{ hostvars[db_host].ansible_host }}{% if not loop.last %},{% endif %}{% endfor %}

wsrep_node_name={{ hostvars[inventory_hostname].node }}
wsrep_node_address={{ hostvars[inventory_hostname].ansible_host }}

wsrep_sst_method=xtrabackup-v2
wsrep_sst_auth=sstuser:{{ mysql_sstuser_password }}
pxc_strict_mode=PERMISSIVE
wsrep_sync_wait=2

binlog_format=ROW
default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2