{% if m_instance_context == 't' %} 
  {% set ENV = 'Non-Production' %}
{% elif m_instance_context == 'n' %}
  {% set ENV = 'Non-Production' %}
{% elif m_instance_context == 'p' %}
  {% set ENV = 'Production' %}
{% elif m_instance_context == 'i' %}
  {% set ENV = 'Infrastructure' %}
{% endif %}

{
 "Environment": "{{ ENV | default('Undefined') }}",
 "Purpose":"{{ k24_application }}-{{ k24_tier }}",
 "ContactEmailGroup":"{{ k24_contact_email_group }}",
 "BackupDay":"",
 "BackupTime":"",
 "Description":"{{ k24_description }}",
 "CreatedBy":"{{ k24_created_by }}"
}